# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Mobile
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/
*.jks
*.p8
*.p12
*.mobileprovision

# Database local
*.sqlite
*.db

# Test / coverage
coverage/
.nyc_output/
